@Charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Contrail+One&family=Josefin+Sans&family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;500;600&display=swap');


:root {
    --cor1: #033854;
    --cor2: #126171;
    --cor3: #288D8A;
    --cor4: #45A994;
    --cor5: #69C5A0;
    --cor6: #234851;

    --font1: 'Contrail One';
    --font2: 'Josefin Sans', sans-serif;
    --font3: 'Oswald', sans-serif;
    --font4: 'Barlow Condensed', sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

/* Cabecalho */
header {
    display: flex;
    align-items: end;
    justify-content: space-between;
}

#nome {
    margin-bottom: 1vh;
    margin-left: 1vh;
    font: bold 5em var(--font1);
    color: var(--cor6);
    padding: 10px;
}

nav > ul {
    display: flex;
    list-style: none;
    align-items: end;
}

nav > ul > li {
    margin-right: 1vw;
    padding: 2vw;
    font: bold 2em var(--font2);
    color: var(--cor5);
}

a {
    text-decoration: none;
    color: var(--cor3);
}

a:hover {
    color: var(--cor1);
}

/* Corpo */
main {
    margin: 2vh 3vw;
    text-align: left;
}

#materia {
    font: bold 3em 'arial';
    margin: 10px;
}

strong {
    color: var(--cor5);
}

h2 {
    font: 600 3em var(--font4);
    margin: 2vh;
}

p {
    padding: 1vh;
    font: 1em var(--font3);
    color: rgba(0,0,0,0.7);
    line-height: 2vh;
}

article > ul {
    text-align: left;
    list-style-position: inside;
    columns: 2;
}

article > ul > li {
    padding: 5px;
    font-size: 2em;
    margin: 1vh 0px;
}

/* Imagens */
img {
    max-width: 100vw;
    margin-left: -3vw;
}

#topo {
    margin-top: -2vh;
}

/* Rodape */
footer {
    background-color: var(--cor5);
}

footer > p {
    text-align: center;
    font: 1em (--font2);
    color: var(--cor3);
}

p > strong {
    color: var(--cor2);
    font-style: italic;
}